@import 'material-design-lite/dist/material.deep_purple-blue.min.css';
@import 'mdl-selectfield/dist/mdl-selectfield.css';

.paragraph {
  margin: 0 0 16px;
}
.mdl-layout-title a {
  color: inherit;
  text-decoration: inherit;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
.page-content {
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto 40px;
  padding: 15px;
  width: 100%;
}
.mdl-layout__content {
  display: flex;
  flex-direction: column; //
}

.alert {
  padding: 10px;
  margin: 10px;
}
.alert h3 {
  line-height: inherit;
}
.alert p {
  margin-bottom: 5px;
}
.alert--big {
  padding: 10px 15px;
  margin: 10px 10px 30px;
}
.alert--success {
  color: #3c763d;
  background: #dff0d8;
}
.alert__text--success {
  color: #3c763d !important;
}
.alert--warning {
  color: #8a6d3b;
  background: #fcf8e3;
}
.alert__text--warning {
  color: #8a6d3b !important;
}
.alert--danger {
  color: #a94442;
  background: #f2dede;
}
.alert__text--danger {
  color: #a94442 !important;
}
.alert .material-icons {
  margin-right: 5px;
}
.table-truncate-container {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-truncate {
  overflow-wrap: break-word;
}
.table--responsive {
  display: block;
  width: 100%;
  min-height: 0%;
  overflow-x: auto;
  margin-bottom: 20px;
}
.mdl-data-table {
  width: 100%;
}
.mdl-data-table th:first-of-type {
  width: 62px;
}
.mdl-data-table td:last-of-type {
  width: 252px;
}
@media (max-width: 480px) {
  .mdl-data-table td:last-of-type {
    width: 126px;
  }
  .mdl-data-table td:last-of-type a.mdl-button {
    display: block;
  }
}
.mdl-textfield, .mdl-selectfield {
  width: 100% !important;
}

.mdl-selectfield__label {
  color: #673ab7 !important;

  &:after {
    background-color: #673ab7;
  }
}

.pull-right {
  float: right;
}

.mdl-button .button-icon.material-icons {
  margin-right: 6px;
  margin-bottom: 2px;
}

.btn-again {
  margin-top: 5px;
}
