@import 'material-design-lite/dist/material.deep_purple-blue.min.css';
@import 'mdl-selectfield/dist/mdl-selectfield.css';

.paragraph {
  margin: 0 0 16px;
}
.mdl-layout-title a {
  color: inherit;
  text-decoration: inherit;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
.page-content {
  max-width: 1100px;
  margin: 0 auto 40px;
  padding: 15px;
}
.mdl-layout__content {
  flex: 1 0 auto;
}

.alert {
  padding: 10px;
  margin: 10px;
}
.alert--big {
  padding: 25px;
  margin: 10px 0 30px;
}
.alert--success {
  color: #3c763d;
  background: #dff0d8;
}
.alert__text--success {
  color: #3c763d !important;
}
.alert--warning {
  color: #8a6d3b;
  background: #fcf8e3;
}
.alert__text--warning {
  color: #8a6d3b !important;
}
.alert--danger {
  color: #a94442;
  background: #f2dede;
}
.alert__text--danger {
  color: #a94442 !important;
}
.alert .material-icons {
  margin-right: 5px;
}
.table-truncate-container {
  max-width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-truncate {
  overflow-wrap: break-word;
}
.table--responsive {
  display: block;
  width: 100%;
  min-height: 0%;
  overflow-x: auto;
  margin-bottom: 20px;
}
.mdl-data-table {
  width: 100%;
}
.mdl-textfield, .mdl-selectfield {
  width: 100% !important;
}

.mdl-selectfield__label {
  color: #673ab7 !important;
}
